@font-face {
  font-family: 'GreatVibes';
  src: url('/fonts/Great_Vibes/GreatVibes-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayItalic';
  src: url('/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

.body {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: 'RaleWay', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.html{
  margin: 0;
  padding: 0;
}