#_next {
    width: 100%;
    height: auto;
}

.img{
    width: 100%;
    height: auto;
}

.confirmPresenceButton {
    padding: 2vh 4vw;
    margin: 0 auto;
    border-radius: 25%;
    color: white;
    background-color: #7937b6;
}